.showChild{
    height: auto;
    transition: 1s;
    overflow: hidden;
}
.hideChild{
    height: 0;
    transition: 1s;
    overflow: hidden;
}

.button {
    width: 100%;
    background-color: #0abde3;
    border-radius: 5px;
    padding: 0.5rem ;
    margin-top: 1rem;
    cursor: pointer;
}